/*
   dark red = #690f0f
   dar grey = #191919
   dark blue = #000017
*/

body {
    margin: 0;
    padding: 0;
    background-color: #000017;
    color: white;
    font-family: Verdana;
  }
  p{
    line-height: 1.5em;
  }
  a {
    color: #2397cc;
  }
  h1, h2, h3 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
  }
  h1{
    font-size: 48px;
  }
  h2{
    font-size: 38px;
  }
  img {
    max-width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
  }
video{
    width: 100%;
}
  
  nav {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0;
    background-color: #000017;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  }
  nav ul {
    list-style: none;
  }
  nav ul li a {
    text-decoration: none;
    color: #cccccc;
  }
  nav ul li a:hover {
    color: white;
  }
  
  main {
    border: 1px solid rgba(128, 128, 128, 0.2);
    background-color: #000017;
    margin-left: 10%;
    margin-right: 10%;
    padding: 70px 5vw;
    height: auto;
  }

  .side-by-side{
    display: flex;
    flex-direction: row;
    margin-top: 32px;
  }
  .side-by-side img{
    width: 50%;
  }
  .side-by-side p{
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
  }

  .two-pics{
    display: flex;
    flex-direction: row;
  }
  .two-pics img{
    max-width: none;
    width: 50%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  #webdev-text{
    text-align: center;
  }

  @media screen and (max-width: 600px) {
    main{
      margin: 0px;
    }

    .side-by-side{
      flex-direction: column;
    }
    .side-by-side img{
      width: auto;
    }
    .side-by-side p{
      text-align: center;
      width: auto;
      margin-left: 0px;
      margin-top: 16px;
    }

    .two-pics{
      flex-direction: column;
    }
    .two-pics img{
      width: 100%;
      margin-bottom: 16px;
      margin-left: auto;
      margin-right: auto;
    }
  }